:root {
/* -------color---------- */

--Very-Dark-Grayish-Blue: hsl(217, 19%, 35%);
--Desaturated-Dark-Blue: hsl(214, 17%, 51%);
--Grayish-Blue: hsl(212, 23%, 69%);
--Light-Grayish-Blue: hsl(210, 46%, 95%);
--white: rgb(255, 255, 255);

/* -----------font--------- */

--Font-size: 13px;
--Weights: 500;
--bold-weight: 700;
}

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: 'Manrope', sans-serif;
    min-height: 100vh;
    display: grid;
    place-items: center;
    
    background-color: var(--Light-Grayish-Blue);
    
}

.article_card {
    display: grid;
    grid-template-columns: 260px 430px;
    max-width: 730px;
    background-color: var(--white);
    margin: 20px;
    border-radius: 20px;
    margin-top: auto;
   
    
}

.img_box {
    overflow: hidden;
}

.img_drower{
    width: 100%;
    height: 100%;
    
    border-radius: 20px 0 0 20px;
    object-fit: cover;
    object-position: left;
}

.article_content {
   padding: 20px 40px;
  
}

.text {
    color: var(--Grayish-Blue);
    margin-top: 20px;
    font-size: var(--Font-size);
}

.author_footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
}

.author {
    display: flex;
    align-items: center;
}

.author_avatar {
    display: flex;
    align-items: center;
}

.avatar_img {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    margin-right: 20px;
}

.post_data {
    font-size: var(--Font-size);
    color: var(--Grayish-Blue);
}

.share_button {
    border: none;
    border-radius: 50%;
    height: 30px;
    width: 30px;
    cursor: pointer;
    text-align: center;
    border-radius: 50;
}

.share_button:hover {
    background-color: var(--Desaturated-Dark-Blue);
}

.share_button svg {
    fill: var(--Grayish-Blue);  
    
}

.share_button svg:active {
    fill: var(--white);
}

.share {
    position: relative;
}

.share_option {
    visibility: collapse;

    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    width: 200px;
    background-color: var(--Very-Dark-Grayish-Blue);
    padding: 10px 20px;
    border-radius: 10px;
    top: -100%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.share_option::after {
   content: "";
    position: absolute;
    width: 0px;
    height: 0px;
    border-style: solid;
    border-width: 10px 10px 0 10px;
    border-color: var(--Very-Dark-Grayish-Blue) transparent transparent transparent;
    top: 110%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.active {
    visibility: visible;
}

span {
    text-transform: uppercase;
    letter-spacing: 0.2rem;
    font-size: var(--Font-size);
    color: var(--Desaturated-Dark-Blue);
}

ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
li {
    
    list-style-type: none;
    margin-right: 10px; 
}

li:last-child {
   margin-right: 0; 
}

li a {
    display: flex;
}

li svg {
    fill: var(--white);
}


@media only screen and (max-width: 800px) {
    .article_card {
        
        grid-template-columns: minmax(auto, 317px);
        grid-template-rows: minmax(auto, 165px) ;
        padding: 0;
    }

    .img_drower {
        border-radius: 20px 20px 0px 0px;
    }

    .article_content {
        padding: 20px 30px;
    }

    .title {
        width: 260px;
    }

    h3 {
        font-size: 1rem;
    }
}













.attribution { 

    margin-top: auto;

    font-size: 11px; 
    text-align: center; 
}

.attribution a { 
    color: hsl(228, 45%, 44%); 
}
